@mixin flex($direction) {
    display: flex;
    align-items: center;
}

$black: #0b0d17;
$grey: #d0d6f9;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

// HEADER

header {
    position: relative;
    z-index: 1;
    margin-top: 40px;
    margin-left: 48px;
    color: white;
    @include flex(row);
    justify-content: center;
    gap: 50px;
    margin-left: 450px;

    .rectangle {
        border-bottom: 1px solid rgb(125, 125, 125);
        width: 500px;
        position: relative;
        z-index: 2;
        margin-right: -5rem;
    }

    nav {
        position: relative;
        z-index: 1;
        padding: 0 140px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        background-color: rgb(84 85 91 / 31%);
        @include flex(row);
        width: 890px;
        height: 96px;
        gap: 48px;
        font-family: 'Barlow Condensed', sans-serif;
        letter-spacing: 2.7px;
        cursor: pointer;

        a {
            color: white;
            text-decoration: none;
            position: relative;
            @include flex(row);
            gap: 11px;

            &:hover:before {
                opacity: 1;
            }
            
            &.active:before {
                background-color: white;
                opacity: 1;
            }
    
            &:before {
                width: 100%;
                background-color: rgb(151, 151, 151);
                content: "";
                height: 3px;
                position: absolute;
                bottom: -38px;
                transition: opacity .3s ease-in-out;
                opacity: 0;
            }
        }



        span {
            font-weight: 700;
        }
    }
}

// MAIN

main {
    @include flex(row);
    justify-content: space-around;
    margin-top: 250px;

    .main-text {
        width: 450px;
        color: $grey;
        // position: absolute;
        // left: 400px;
        // bottom: 200px;
    
        h1 {
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 28px;
            letter-spacing: 4.75px;
            font-weight: 200;
            text-transform: uppercase;
            
            span {
                font-size: 150px;
                font-family: 'Bellefair', sans-serif;
                color: white;
            }
        }
    
        p {
            font-size: 18px;
            font-family: 'Barlow', sans-serif;
            line-height: 32px;
            text-align: justify;
        }
    }
    
    a {
        color: $black;
        @include flex(row);
        justify-content: center;
        text-decoration: none;
        font-size: 32px;
        font-family: 'Bellefair', sans-serif;
        background-color: white;
        width: 274px;
        height: 274px;
        border-radius: 50%;
        text-transform: uppercase;


        &:after {
            content: "";
            background-color: rgba(255, 255, 255, 10.36%);
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            width: 274px;
            height: 274px;
            transition: width 1s, height 1s;
        }

        &:hover::after {
            width: 450px;
            height: 450px;
        }
    }
}
