@mixin flex($direction) {
    display: flex;
    align-items: center;
    flex-direction: $direction;
}

$black: #0b0d17;
$grey: #d0d6f9;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../../assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}

// HEADER

header {
    position: relative;
    z-index: 1;
    margin-top: 40px;
    margin-left: 48px;
    color: white;
    @include flex(row);
    justify-content: center;
    gap: 50px;
    margin-left: 450px;

    .hamburger {
        display: none;
    }

    .rectangle {
        border-bottom: 1px solid rgb(125, 125, 125);
        width: 500px;
        position: relative;
        z-index: 2;
        margin-right: -5rem;
    }

    nav {
        position: relative;
        z-index: 1;
        padding: 0 140px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        background-color: rgb(84 85 91 / 31%);
        @include flex(row);
        width: 890px;
        height: 96px;
        // gap: 48px;
        font-family: 'Barlow Condensed', sans-serif;
        letter-spacing: 2.7px;
        cursor: pointer;
        // list-style: none;

        ul {
            @include flex(row);
            gap: 48px;
            list-style: none;
            
        }

        a {
            color: white;
            text-decoration: none;
            position: relative;
            @include flex(row);
            gap: 11px;

            &:hover:before {
                opacity: 1;
            }
            
            &.active:before {
                background-color: white;
                opacity: 1;
            }
    
            &:before {
                width: 100%;
                background-color: rgb(151, 151, 151);
                content: "";
                height: 3px;
                position: absolute;
                bottom: -38px;
                transition: opacity .3s ease-in-out;
                opacity: 0;
            }
        }

        span {
            font-weight: 700;
        }
    }
}

// MAIN

main {
    @include flex(row);
    justify-content: space-around;
    margin-top: 250px;

    .main-text {
        width: 450px;
        color: $grey;
        // position: absolute;
        // left: 400px;
        // bottom: 200px;
    
        h1 {
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 28px;
            letter-spacing: 4.75px;
            font-weight: 200;
            text-transform: uppercase;
            
            span {
                font-size: 150px;
                font-family: 'Bellefair', sans-serif;
                color: white;
            }
        }
    
        p {
            font-size: 18px;
            font-family: 'Barlow', sans-serif;
            line-height: 32px;
            text-align: justify;
        }
    }
    
    a {
        color: $black;
        @include flex(row);
        justify-content: center;
        text-decoration: none;
        font-size: 32px;
        font-family: 'Bellefair', sans-serif;
        background-color: white;
        width: 274px;
        height: 274px;
        border-radius: 50%;
        text-transform: uppercase;


        &:after {
            content: "";
            background-color: rgba(255, 255, 255, 10.36%);
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            width: 274px;
            height: 274px;
            transition: width 1s, height 1s;
        }

        &:hover::after {
            width: 450px;
            height: 450px;
        }
    }
}

@media (max-width: 1339px) {

    body {
        background-image: url('../../assets/home/background-home-tablet.jpg');
        overflow-y: auto;
    }

    header {
        @include flex(row);
        justify-content: space-around;
        margin: 0;


        img.logo {
            margin-left: 30px;
        }


        .rectangle {
            border: none;
        }
    }

    main {
        margin-top: 150px;
    }
}

@media (max-width: 960px) {


    header {
        font-size: 14px;

        nav {
            padding: 0 30px;
            width: auto;
            display: block;

            span {
                display: none;
            }
        }
    }

    main {
        @include flex(column);
        gap: 80px;


        .main-text {
            text-align: center;

            p {
                text-align: center;
            }
        }

        a {
            margin-bottom: 50px;
        }
    }
}

@media (max-width: 560px) {

    body {
        background-size: auto;
    }

    header {

        .logo {
            margin-top: 20px;
        }

        .hamburger {
            display: block;
        }


        button {
            border: none;
            background-color: transparent;
            margin-right: 20px;
        }

        nav {
            font-size: 18px;
            position: absolute;
            z-index: -1;            
            @include flex(column);
            padding: 0;
            // height: 100vh;
            top: 0;
            right: 0;
            // width: 80%;
            margin-right: -5.9rem;
            padding: 20px;
            min-width: 375px;
            display: none;

            span {
                display: inline;
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: start;
                margin-top: 110px;
                padding-left: 15px;
                // margin-right: 180px;
            }

            a:before {
                display: none;
            }
        }
    }

    main {
        .main-text {
            @include flex(column);
            width: auto;

            h1 {
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 2.7px;

                span {
                    display: block;
                    font-size: 80px;
                    margin-top: 30px;
                }
            }

            p {
                // font-size: 14px;
                max-width: 400px;
                margin-top: 16px;
                padding: 0 20px;
            }
        }

        a {
            width: 200px;
            height: 200px;
            font-size: 25px;

            &:after {
                width: 200px;
                height: 200px; 
            }
        }
    }
}