* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}

header {
  position: relative;
  z-index: 1;
  margin-top: 40px;
  margin-left: 48px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-left: 450px;
}
header .hamburger {
  display: none;
}
header .rectangle {
  border-bottom: 1px solid rgb(125, 125, 125);
  width: 500px;
  position: relative;
  z-index: 2;
  margin-right: -5rem;
}
header nav {
  position: relative;
  z-index: 1;
  padding: 0 140px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(84, 85, 91, 0.31);
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 890px;
  height: 96px;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
  cursor: pointer;
}
header nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 48px;
  list-style: none;
}
header nav a {
  color: white;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 11px;
}
header nav a:hover:before {
  opacity: 1;
}
header nav a.active:before {
  background-color: white;
  opacity: 1;
}
header nav a:before {
  width: 100%;
  background-color: rgb(151, 151, 151);
  content: "";
  height: 3px;
  position: absolute;
  bottom: -38px;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
header nav span {
  font-weight: 700;
}

main {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 250px;
}
main .main-text {
  width: 450px;
  color: #d0d6f9;
}
main .main-text h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  letter-spacing: 4.75px;
  font-weight: 200;
  text-transform: uppercase;
}
main .main-text h1 span {
  font-size: 150px;
  font-family: "Bellefair", sans-serif;
  color: white;
}
main .main-text p {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  line-height: 32px;
  text-align: justify;
}
main a {
  color: #0b0d17;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  font-size: 32px;
  font-family: "Bellefair", sans-serif;
  background-color: white;
  width: 274px;
  height: 274px;
  border-radius: 50%;
  text-transform: uppercase;
}
main a:after {
  content: "";
  background-color: rgba(255, 255, 255, 0.1036);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  width: 274px;
  height: 274px;
  transition: width 1s, height 1s;
}
main a:hover::after {
  width: 450px;
  height: 450px;
}

@media (max-width: 1339px) {
  body {
    background-image: url("../../assets/home/background-home-tablet.jpg");
    overflow-y: auto;
  }
  header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }
  header img.logo {
    margin-left: 30px;
  }
  header .rectangle {
    border: none;
  }
  main {
    margin-top: 150px;
  }
}
@media (max-width: 960px) {
  header {
    font-size: 14px;
  }
  header nav {
    padding: 0 30px;
    width: auto;
    display: block;
  }
  header nav span {
    display: none;
  }
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
  }
  main .main-text {
    text-align: center;
  }
  main .main-text p {
    text-align: center;
  }
  main a {
    margin-bottom: 50px;
  }
}
@media (max-width: 560px) {
  body {
    background-size: auto;
  }
  header .logo {
    margin-top: 20px;
  }
  header .hamburger {
    display: block;
  }
  header button {
    border: none;
    background-color: transparent;
    margin-right: 20px;
  }
  header nav {
    font-size: 18px;
    position: absolute;
    z-index: -1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    top: 0;
    right: 0;
    margin-right: -5.9rem;
    padding: 20px;
    min-width: 375px;
    display: none;
  }
  header nav span {
    display: inline;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 110px;
    padding-left: 15px;
  }
  header nav a:before {
    display: none;
  }
  main .main-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
  }
  main .main-text h1 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2.7px;
  }
  main .main-text h1 span {
    display: block;
    font-size: 80px;
    margin-top: 30px;
  }
  main .main-text p {
    max-width: 400px;
    margin-top: 16px;
    padding: 0 20px;
  }
  main a {
    width: 200px;
    height: 200px;
    font-size: 25px;
  }
  main a:after {
    width: 200px;
    height: 200px;
  }
}/*# sourceMappingURL=main.css.map */